body {
  margin: 0;
  font-family: 'SF Pro Regular','SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: 'SF Pro Display'
}
